.u-section-0 .u-sheet-1 {
  min-height: 150px;
}

.u-section-0 .u-text-1 {
  margin: 40px 0 0;
}

.u-section-1 .u-sheet-1 {
  min-height: 798px;
}

.u-section-1 .u-layout-wrap-1 {
  margin: 90px 0 0 0;
}

.u-section-1 .u-text-1 {
  margin: 20px 0 0;
}

.u-section-1 .u-line-1 {
  width: 250px;
  height: 5px;
  transform-origin: left center 0;
  margin: 30px auto 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 400;
  margin: 40px auto 0 0;
}

.u-section-1 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-1 .u-text-3 {
  margin: 20px 0 0;
}